body, html, #root {
  width: 100%;
  height: 100%;
}

.halcyon-wizard {
  display: flex;
  height: 100%;
  width: 100%;

  &__sidebar {
    flex-grow: 1;
  }

  &__viewport {
    flex-grow: 5;

    &__step {
      padding: 1rem;
    }
  }
}
